@CHARSET "UTF-8";
#bg{
	width: 100%;
}

div.bg
{
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
#zhengwen{
	color: #868686;
	font-size: 1.2em;
	margin-left: 1em;
    margin-right: 1em;
	text-align: left;
    line-height: 1.5;
}
#creater{
	margin-left: 100px;
	margin-top: -30px;
}
div.story_title
{
    font-size: 26px;
    text-align: center;
    color: #c49a6c;
}