@CHARSET "UTF-8";
body
{
    width: 100%;height: 100%;margin: 0;padding: 0
}
.big_title{
    width: 100%;
    text-align: center;
    height:50px;
    background-color:#f1f2f4;
    line-height: 50px;
}

.title_p{
    color: #c79a6f;
    font-size: 28px;
}

div.bg
{
    width:100%;
    height: auto;
    background-color: #f7f8f8;
    padding-top: 10px;
   /* padding-bottom: 10px;*/
}

div.container2
{
    background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
    background:-ms-linear-gradient( top, #ffffff 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ffffff) );
    border-radius:15px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%
}
div.container3
{
    background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
    background:-ms-linear-gradient( top, #ffffff 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ffffff) );
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%
}
div.contents2
{
    padding-top: 20px;
}

div.contents
{
    padding: 20px;
}

div.info_apply
{
    width: 100%;
    height: 40px;
    line-height:40px;
}

input.input_info
{
    width: 100%;
    height: 40px;
    line-height:40px;
    background-color: #f6f6f6;
    border: 0;
}

sup
{
    color:#f26c4f;
}
span
{
    color:#f26c4f;
    font-size: 0.7em;
}
textarea.text_area
{
    width: 100%;
    border: 0;
    background-color: #f6f6f6;
}
#affirm_submit{
    margin-top: 30px;
    width:100%;
    height:50px;
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #c3e2d3;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #c3e2d3 5%, #c3e2d3 100% );
    background:-ms-linear-gradient( top, #c3e2d3 5%, #c3e2d3 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3e2d3', endColorstr='#c3e2d3');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c3e2d3), color-stop(100%, #c3e2d3) );
    background-color:#c3e2d3;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #c3e2d3;
    -webkit-box-shadow:inset 1px 1px 0px 0px #c3e2d3;
    -moz-box-shadow:inset 1px 1px 0px 0px #c3e2d3;
    box-shadow:inset 1px 1px 0px 0px #c3e2d3;
}
input.return_goods {
    width: 4em;
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #bedecb;
    padding:6px 8px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #bedecb 5%, #bedecb 100% );
    background:-ms-linear-gradient( top, #bedecb 5%, #bedecb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bedecb', endColorstr='#bedecb');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #bedecb), color-stop(100%, #bedecb) );
    background-color:#bedecb;
    color:#ffffff;
    display:inline-block;
}


