@CHARSET "UTF-8";
table{
    margin: 0 auto;
}
td{
	color: #C49A6C;
	font-size: 18px;
}
hr{
	height:1px;
	border:none;
	border-top:1px solid #F3F1ED;
}

table img
{
    width: 3.5em;
}
.td{
	vertical-align:middle;
	width:200px;
}
a:link
{
    text-decoration: none;
    color: #C49A6C;
}
a:hover
{
    text-decoration: none;
    color: #C49A6C;
}
a:visited
{
    text-decoration: none;
    color: #C49A6C;
}