@CHARSET "UTF-8";

body
{
    margin:0 auto;
    width: 100%;
    height: auto;
    background-color: #f7f8f8;
}

div.story_title
{
    font-size: 26px;
    text-align: center;
    color: #c49a6c;
}
#zhengwen{
    margin: 0 auto;
    color: #868686;
    font-size: 1em;
    width: 80%;
    line-height: 1.5;
}
